body {
    font-family: sans-serif;
}

.flexbox-container {
    padding: 3px;
    border: 3px solid red;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.flexbox-container div {
    margin: 3px;
    border: 1px solid blue;
}

.flexbox-container div.art1 {
    flex-basis: 400px;
}

.flexbox-container div.art2 {
    flex-basis: 400px;
}

.flexbox-container div.art3 {
    flex-basis: 400px;
}
